@import '../../globalStyles/common';

.add-to-cart-card {
    .text-larger {
        font-size: 22px;
    }
}

.item-added-alert {
    .row {
        padding-left: 20px;
    }

    
}

.item-added-alert.container {
    padding-right: 0;
}
