@import '../../globalStyles/common';

.form-signin {
    padding: 32px;
    background: $navy;
    color: $white;

    h3 {
        text-transform: uppercase;
        color: $white;
    }

    a {
        color: $white;

        &:hover {
            color: $link-hover-color;
        }
    }

    .form-text {
        font-size: 100%;
    }

    .form-group {
        position: relative;

        input {
            background-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: $white;
            color: $white;

            &.is-valid {
                border-bottom-color: $success;
            }

            &.is-invalid {
                border-bottom-color: $danger;
            }
        }
    }
}
