@import '../../globalStyles/common';

.form-register {
    padding: 32px;
    background: $navy;
    color: $white;

    h3 {
        color: $white;
    }

    .tagged {
        margin-bottom: 24px;
        text-transform: uppercase;
        font-size: 12px;
        color: $white;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 14px;
            margin-right: 8px;
            background: url(../../img/heading-tag.svg) no-repeat;
        }
    }

    .form-group {
        position: relative;

        input,
        select {
            background-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: $white;
            color: $white;

            &.is-valid {
                border-bottom-color: $success;
            }

            &.is-invalid {
                border-bottom-color: $danger;
            }
        }
    }
}
