@import '../../globalStyles/common';

.form-register {
    padding: 56px 0 56px 56px;
    background: $navy;
    color: $white;

    h3,
    h4 {
        color: $white;
    }

    .form-group {
        position: relative;

        input,
        select {
            background-color: transparent;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: $white;
            color: $white;

            &.is-valid {
                border-bottom-color: $success;
            }

            &.is-invalid {
                border-bottom-color: $danger;
            }
        }
    }
}
