@import '../../globalStyles/common';

.tag {
	&:not(:hover) {
		background-color: #838895;
	}
	&:hover {
		background-color: $navy;
	}
	
	&.tag--lg {
		font-size: $font-size-base;
		font-weight: $font-weight-normal;
		padding: .75rem 1.5rem; 
		height: 43px;
	}

	&.tag--sm {
		font-size: $font-size-sm;
		font-weight: $font-weight-normal;
		padding: $input-btn-padding-y-sm $input-btn-padding-x-sm;
	}
}
