/* ==============================================================
   BASE
   - Styles for default/global HTML elements (ex. body, a, h1-h6)
   - ALWAYS check to see if you can achieve your styles first by
     overriding bootstrap variables
   - MISC items can also go here (not ideal)
============================================================== */

html,
body {
    overflow-x: hidden;
}

/* Smoother fonts */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Responsive images */
img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/* Responsive Video */
iframe,
video {
    max-width: 100%;
}

/* Headings */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-bottom: 1em;
    text-transform: uppercase;

    &:first-child {
        margin-top: 0;
    }
}

h6,
.h6 {
    font-weight: $font-weight-bold;
}

.tagged {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        display: inline-block;
        width: 24px;
        height: 14px;
        margin-right: 8px;
        background: url(../img/heading-tag.svg) no-repeat;
    }
}

/* Paragraphs */
p {
    margin-bottom: $paragraph-margin-bottom;
}

a {
    transition: $transition-base;
}

strong,
.strong,
.font-weight-bold {
    text-transform: uppercase;
}
