@import '~bootstrap/scss/functions';

// /* ===============================================================
//    VARIABLES
//    - Bootstrap variable overrides AND CUSTOM site variables
//      (not 100% replica of original bootstrap variables stylesheet)
//    - Copy only the Bootstrap variables you want to override and
//      paste below, keeping them in appropriate sections.
//    - Be sure to remove the !default after each variable.
//    - Bootstrap variables file lives in
//      ../node_modules/bootstrap/scss/_variables.scss
// =============================================================== */

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$enable-responsive-font-sizes: true;

//
// Color system
//

// // Gray Overrides
$white: #fff !default;
$gray-100: #f5f5f5;
$gray-200: #ddd;
$gray-300: #dee0e2;
$gray-400: #c8cacb;
$gray-500: #b1b5b9;
$gray-600: #959595;
$gray-700: #484c51;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #0c0c11;

// // Brand Color Overrides
$blue: #007bb3;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #d10000;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #66cc66;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$navy: #4d5365;

// // Brand Colors
$primary: $green;
$secondary: $gray-600;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100;
$dark: $navy;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold: 162;

// Body
//
// Settings for the `<body>` element.

$body-bg: $light;
$body-color: $black;

// Links
//
// Style anchor elements.

$link-color: $body-color;
$link-decoration: underline;
$link-hover-color: darken($primary, 15%);
$link-hover-decoration: none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
// //** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 0.9375rem; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.25) !default;
$font-size-sm: ($font-size-base * 0.8) !default;
$small-font-size: $font-size-sm;

$h1-font-size: 40px;
$h2-font-size: 30px;
$h3-font-size: 25px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 15px;

// //** Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-base: $font-weight-normal;

// //** Paragraphs
$paragraph-margin-bottom: 1em;

// //** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.428571429; // 20/14
// //** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed: floor(($font-size-base * $line-height-base)); // ~20px

// //** By default, this inherits from the `<body>`.
$headings-font-family: $font-family-sans-serif;
$headings-font-weight: $font-weight-light;
$headings-line-height: 1.1;
$headings-color: $body-color;

// Components
//
// Define common padding and border radius sizes and more.

// // Custom Padding
$padding-sm: 20px;
$padding: 40px;
$padding-md: 80px;
$padding-lg: 100px;

// // Line Height
$line-height-lg: 1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-sm: 1; // 20

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px,
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

// Components
//
// Define common padding and border radius sizes and more.

$default-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
$component-active-color: $white !default;

$border-width: 1px !default;
$border-color: $gray-200;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-radius-round: 50%;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-padding-y: 0.782rem;
$input-btn-padding-x: 1rem;

$input-btn-font-size: 13px;
$input-btn-focus-color: rgba($black, 0.1);

$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: $input-btn-padding-x;
$input-btn-font-size-sm: $input-btn-font-size;

$input-btn-padding-y-lg: 1.125rem;
$input-btn-padding-x-lg: 3rem;
$input-btn-font-size-lg: $input-btn-font-size;

// Forms

$input-focus-box-shadow: none;
$form-group-margin-bottom: 24px;
$custom-select-focus-box-shadow: none;
$custom-select-bg-size: 15px 17px; // In pixels because image dimensions
$custom-select-indicator-color: $primary;
$custom-select-indicator: str-replace(
    url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3E%3Cpath fill="#{$custom-select-indicator-color}" d="M443.5 162.6l-7.1-7.1c-4.7-4.7-12.3-4.7-17 0L224 351 28.5 155.5c-4.7-4.7-12.3-4.7-17 0l-7.1 7.1c-4.7 4.7-4.7 12.3 0 17l211 211.1c4.7 4.7 12.3 4.7 17 0l211-211.1c4.8-4.7 4.8-12.3.1-17z"/%3E%3C/svg%3E'),
    '#',
    '%23'
);

$custom-control-indicator-bg-size: 65% 65%;
$custom-control-indicator-checked-color: $component-active-color !default;
$custom-control-indicator-border-color: $border-color;
$custom-control-indicator-size: 1.125rem;
$custom-checkbox-indicator-icon-checked: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><path fill='#{$custom-control-indicator-checked-color}' d='M435.848 83.466L172.804 346.51l-96.652-96.652c-4.686-4.686-12.284-4.686-16.971 0l-28.284 28.284c-4.686 4.686-4.686 12.284 0 16.971l133.421 133.421c4.686 4.686 12.284 4.686 16.971 0l299.813-299.813c4.686-4.686 4.686-12.284 0-16.971l-28.284-28.284c-4.686-4.686-12.284-4.686-16.97 0z'/></svg>");

// Navbar

$navbar-brand-font-size: 0.9375rem;
$navbar-toggler-font-size: 14px;
$navbar-light-color: $black;
$navbar-light-hover-color: $primary;
$navbar-light-active-color: $primary;
$navbar-toggler-padding-x: 0.5rem;
$navbar-light-toggler-border-color: transparent;

// Badges

$badge-padding-y: 0.25em !default;
$badge-padding-x: 0.5em;
$badge-border-radius: $border-radius-round;

// Cards

$card-spacer-y: 0.75rem !default;
$card-spacer-x: 1.5rem 1.25rem;
$card-border-width: $border-width !default;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-accent-bg: $gray-100;
$table-striped-order: even;
