/* ===============================================================
    Buttons
	- Bootstrap Button Overrides
   =============================================================== */

.btn {
    text-transform: uppercase;

    &.disabled:not(.btn-link),
    &:disabled:not(.btn-link) {
        background-color: $gray-400;
        border-color: $gray-400;
        color: $white;
    }

    &.btn-link {
        text-decoration: none;

        &:focus {
            box-shadow: none;
        }
    }
}
