/* ===============================================================
    Cards
	- Bootstrap Card Overrides
   =============================================================== */

.card {
    // max-width: 350px;
    margin-bottom: $grid-gutter-width;
    box-shadow: $default-shadow;

    .card-title {
        text-transform: none;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $card-spacer-x;
        background: transparent;
    }

    .table {
        margin-bottom: 0;
    }

    hr {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
