/* ===============================================================
    Cards
	- Bootstrap Card Overrides
   =============================================================== */

.card {
    max-width: 320px;
    box-shadow: $default-shadow;

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $card-spacer-x;
        background: transparent;
    }
}
