.table {
    thead {
        tr {
            // background: $navy;
            font-size: 12px;
            // color: $white;
            text-transform: uppercase;
        }

        a {
            color: $white;
        }
    }
}
