@import '../../globalStyles/common';

.cart {
    .table {
        td:not(:first-child) {
            vertical-align: middle;
        }
    }
    a.dropdown-custom.dropdown-toggle::after {
            display: none;
        }
}
