@import '../../globalStyles/common';

.my-account-nav {
    > .nav {
        .nav-link {
            padding-left: 0;

            &.active {
                color: $primary;
                font-weight: $font-weight-bold;
            }
        }

        > .nav-item > .nav-link {
            font-weight: $font-weight-bold;
        }
    }

    .nav .nav {
        padding-bottom: 20px;

        .nav-link {
            font-size: 12px;
        }
    }
}

.scheduled-orders {
    table {
        tbody tr {
            background: $gray-100;
            border-top: 10px solid $white;
            border-bottom: 10px solid $white;
            border-left: 20px solid $white;
            border-right: 20px solid $white;
        }
    }
}

.open-rfqs,
.past-rfqs {
    thead {
        .progress {
            width: 66%;
            display: inline-flex;
            vertical-align: top;
        }
    }

    .rfq-item {
        margin-bottom: 32px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.nav-tabs {
    .nav-item {
        font-size: 12px;
        text-transform: uppercase;

        .active {
            font-weight: $font-weight-bold;
        }

        &:first-child .nav-link {
            padding-left: 0;
        }
    }
}
